html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1em;
    pointer-events: all;
}
.arrow-right {
    background-image: url('../img/arrow-right.png');
    background-repeat: no-repeat;
}

.arrow-down {
    background-image: url('../img/arrow-down.png');
    background-repeat: no-repeat;
}

table.wikitable,
table.prettytable {
    margin: 1em 1em 1em 0;
    background: #f9f9f9;
    font-size: 18px;
    border: 1px #aaaaaa solid;
    border-collapse: collapse;
}

table.wikitable th,
table.wikitable td,
table.prettytable th,
table.prettytable td {
    border: 1px #aaaaaa solid;
    padding: 0.2em;
    font-size: 15px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

table.wikitable th,
table.prettytable th {
    background: #f2f2f2;
    font-size: 18px;
    text-align: center;
}

table.wikitable caption,
table.prettytable caption {
    margin-left: inherit;
    font-size: 15px;
    margin-right: inherit;
}


#toc,
.toc,
.mw-warning {
    border: 1px solid #aaa;
    background-color: #f9f9f9;
    padding: 5px;
    font-size: 95%;
}
#toc h2,
.toc h2 {
    display: inline;
    border: none;
    padding: 0;
    font-size: 100%;
    font-weight: bold;
}
#toc #toctitle,
.toc #toctitle,
#toc .toctitle,
.toc .toctitle {
    text-align: center;
}
#toc ul,
.toc ul {
    list-style-type: none;
    list-style-image: none;
    margin-left: 0;
    padding-left: 0;
    text-align: left;
}
#toc ul ul,
.toc ul ul {
    margin: 0 0 0 2em;
}
#toc .toctoggle,
.toc .toctoggle {
    font-size: 94%;
}

PRE.lua {
    padding: 5px;
    overflow: Scroll;
    border: 2px dashed #2f6fab;
}

internal {
    padding: 1em;
    border: 2px dashed #4e4e4e;
    color: black;
    background-color: #f9f9f9;
    line-height: 1.1em;
}

pre {
    padding: 1em;
    border: 2px dashed #2f6fab;
    color: black;
    background-color: #f9f9f9;
    line-height: 1.1em;
}

code {
    color: blue;
    border-radius: 15%;
    background-color: #cce6ff;
}

function {
    background-color: #e6e6e6;
    font-family: monospace;
    padding: 16px 20px;
    border-radius: 8px;
    font-size: 12px;
    margin-top: 1px;
}

.markdown div.internal {
    /*padding: 16px 16px;*/
    color: #6b6b6b;
    font-size: 12px;
    margin: 10px 5px;
    border: 3px dashed #6b6b6b;
    background-color: rgba(107, 107, 107, 0.1);
  }
  .markdown div.internal a {
    color: #6b6b6b;
    text-decoration: underline;
  }
  .markdown div.internal:before {
    content: "Internal";
    font-weight: bolder;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #6b6b6b;
    margin: 16px;
    margin-bottom: 10px;
  }
  .markdown div.internal .inner {
    margin: 16px;
    margin-top: 10px;
  }
  .markdown div.warning {
    /*padding: 16px 16px;*/
    color: #f44336;
    font-size: 12px;
    margin: 10px 5px;
    border: 3px dashed #f44336;
    background-color: rgba(244, 67, 54, 0.1);
  }
.markdown div.warning a {
    color: #f44336;
    text-decoration: underline;
  }

.markdown div.warning:before {
    content: "Warning";
    font-weight: bolder;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #f44336;
    margin: 16px;
    margin-bottom: 10px;
}

SPAN.usr_1,
SPAN.usr_2,
SPAN.usr_4 {
    background-color: #ffa;
    font-weight: bold;
}

DIV.lual,
DIV.lua1,
DIV.lua2 {
    border-bottom: 1px solid #eee;
    color: #333;
}

DIV.lua2 {
    background-color: #fafafa;
}

DIV.lual {
    color: #555;
}

.collapseButton {
    /* 'show'/'hide' buttons created dynamically by the        */
    float: right;
    /* CollapsibleTables javascript in [[MediaWiki:Common.js]] */
    font-weight: normal;
    /* are styled here so they can be customised.              */
    text-align: right;
    width: auto;
}

/* Allow limiting of which header levels are shown in a TOC;
   <div class="toclimit-3">, for instance, will limit to
   showing ==headings== and ===headings=== but no further
   (as long as there are no =headings= on the page, which
   there shouldn't be according to the MoS).
 */
.toclimit-2 .toclevel-2,
.toclimit-3 .toclevel-3,
.toclimit-4 .toclevel-4,
.toclimit-5 .toclevel-5,
.toclimit-6 .toclevel-6,
.toclimit-7 .toclevel-7 {
    display: none;
}

H2,
H1 {
    font-size: 25px;
    font-family: arial black;
    letter-spacing: -1px;
    color: #445;
    text-shadow: 1px 1px 4px #ddd;
    border-bottom: 0;
}

H1 {
    font-size: 35px !important;
    font-family: arial black;
    letter-spacing: -2px;
    color: #445;
}

A {
    color: #df33ee !important;
}

A.tutorial {
    font-size: 16px;
}

A:visited {
    color: #26d !important;
}


A:hover {
    color: #59f !important;
    text-decoration: none;
}

PRE {
    font-size: 12px;

}


BODY,
#mw-head {
    width: 1000px !important;
    position: absolute !important;
    left: 50% !important;
    margin-left: -500px !important;
    background-color: #f3f3f3;


}

#mw-head {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;

}

#mw-head h5 {
    margin: 0;
    padding: 0;
}

#mw-page-base {
    height: 5em
}

#mw-head-base {
    height: 5em;
}

#footer {
    margin-left: 0;
    margin-top: 0;
    padding: 0.15em;
}

#footer ul {
    list-style: none;
    list-style-image: none;
    list-style-type: none;
    margin: 3;
    padding: 0;
}

#footer ul li {
    margin: 0;
    padding: 0;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    color: #333333;
    font-size: 0.7em;
}

#footer #footer-icons {
    float: right;
}

/* @noflip */
body.ltr #footer #footer-places {
    float: left;
}

#footer #footer-info li {
    line-height: 1em;
}

#gmed-logo {
    display: block;
    width: 120px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: left left;
    text-decoration: none;
}

/* Main Body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgb(234, 234, 239);
}

/* Stripes */
body::before {

    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: repeating-linear-gradient(-55deg, rgb(224, 224, 234), rgb(224, 224, 234) 40px, rgb(234, 234, 239) 40px, rgb(234, 234, 239) 80px);
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 5em;
    background: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0));
}

.editsection {
    font-family: Arial !important;
    font-size: 13px !important;
    letter-spacing: 0;
}

A.new {
    color: red !important;
}

#tableText1 {
    font-size: 16px;
}

tr:nth-child(even) {
    background-color: #ebf3fb;
}

#propertyTextMain {
    padding: 0.23em;
    font-size: 15px;
    background-image: url(../img/portal-break.png);
    background-position: bottom;
    background-repeat: repeat-x;
}

#propertyTextCol {
    font-size: 15px;
    background-position: left;
    background-repeat: no-repeat;
}

#propertyTextSub {
    padding: 0.93em;
    font-size: 12px;
    left: -9px;
}

.property-list {
    padding: 10px;
    padding-top: 0px;
    position: relative;
    top: 85px;
    left: -185px;
    width: 145px;
    height: 350px;
}

.property-list .property-label {
    position: relative;
    padding: 0.23em;
    font-size: 15px;
    background-image: url(../img/portal-break.png);
    background-position: bottom;
    background-repeat: repeat-x;
}


.property-list .property-content {
    position: relative;
    margin: 5px 15px;
    height: 0;
    font-size: 12px;
}

#content {
    padding: 1.9em;
    background-position: bottom right;
    background-repeat: repeat-x;
    background-color: white;
    outline: 1px solid pink
}


#comment_box {
    background-color: #fafafa !important;
    padding: 10px;
    padding-top: 0px;
    position: relative;
    left: -15px;
    width: 818px;
    border-top: 1px solid #ace;
}

#comment_box H3 {
    display: none;
}

#comment_box UL,
#comment_box LI,
#comment_box OL {
    list-style-image: none !important;
}

.dsq-global-toolbar-container {
    background-color: #fafafa !important;
    display: none;
}

#dsq-sort-by,
#dsq-footer,
#dsq-account-dropdown {
    display: none;
}

.dsq-comment-message {
    padding: 20px 10px;
}

.dsq-comment-footer {
    padding: 0;
    font-size: 11px;
}

/* Logo */
#p-logo {
    position: absolute;
    top: -160px;
    left: 0;
    width: 120px;
    height: 100px;
}

#p-logo a {
    display: block;
    width: 120px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    text-decoration: none;
}

/*Added from original css file */
/* Personal */

#mw-panel div.portal h5 {
    font-weight: normal;
    color: #444444;
    padding: 0em;
    padding-top: 0;
    padding-left: 1.25em;
    cursor: default;
    border: none;
    font-size: 0.75em;
    user-select: none;
    background-repeat: no-repeat;
    
}

#mw-panel div.portal div.body {
    margin: 0;
    margin-left: 1.25em;
}

#mw-panel div.portal div.body ul {
    list-style: none;
    list-style-image: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#mw-panel div.portal div.body ul li {
    line-height: 1.125em;
    padding: 0;
    padding-bottom: 0.5em;
    margin: 0;
    overflow: hidden;
    font-size: 0.75em;
}

#mw-panel div.portal div.body ul li a {
    color: #0645ad;
}

#mw-panel div.portal div.body ul li a:visited {
    color: #0b0080;
}

#mw-panel.collapsible-nav div h5:hover {
    cursor: pointer;
    text-decoration: none;
}

#mw-panel.collapsible-nav div.collapsed h5:hover {
    text-decoration: underline;
}

#mw-panel.collapsible-nav div.portal div.body {
    background: none !important;
}

/* */